h1 {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size:60px;
  color:rgb(204, 96, 132);
  }
body {
  background-image: url(../images/swamp.jpg);
  background-color:rgb(116, 147, 148);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.images{
  display: flex;
  justify-content:space-around;
  
  
}
.img-polish{
border: 5px solid;
width: 20%;
margin: 20px;
}
.img-cat{
  margin: 20px;
  border: 5px solid;
width: 25%;

}
.img-dog{
  margin: 20px;
  border: 5px solid;
  width: 20%;
}
.img-deer{
  margin: 20px;
  border: 5px solid;
  width: 20%;
}
article{
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 5em;
  text-align: center;
  background-color: azure;
  width: 80%;
}
.election2020{
  background-color:azure;
  text-overflow: center;
}
.aricle-title{
  color:red;
}

